<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Co-Win Watcher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        /* Pulse class and keyframe animation */
        .pulseit {
            -webkit-animation: pulse linear .5s infinite;
            animation: pulse linear .5s infinite;
        }

        @-webkit-keyframes pulse {
            0% {
                width: 200px;
            }
            50% {
                width: 340px;
            }
            100% {
                width: 200px;
            }
        }

        @keyframes pulse {
            0% {
                width: 200px;
            }
            50% {
                width: 340px;
            }
            100% {
                width: 200px;
            }
        }
    </style>

</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>CO-Win Live Watcher
                <small class="text-sm-left"><a href="/">Subscribe</a></small>
            </h2>
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label>State</label>
                    <select class="form-control select2box" name="state" id="state" required>
                        <option value="0">Choose...</option>
                        <option th:each="state : ${stateDTOS}" th:value="${state.state_id}"
                                th:text="${state.state_name}">
                        </option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label>District</label>
                    <select class="form-control select2box" name="districtId" id="districtId" required>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <strong>Age Group</strong>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="18" id="18plus"
                               name="ageLimit" checked>
                        <label class="form-check-label" for="18plus">18-44</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ageLimit" id="45plus"
                               value="45">
                        <label class="form-check-label" for="45plus">45+</label>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <strong>Dose</strong>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="FIRST" id="dose1"
                               name="doseType" checked>
                        <label class="form-check-label" for="dose1">Dose 1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="doseType" id="dose2"
                               value="SECOND">
                        <label class="form-check-label" for="dose2">Dose 2</label>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <strong>Vaccine</strong>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="COVISHIELD" value="COVISHIELD"
                               name="vaccineType" checked>
                        <label class="form-check-label" for="COVISHIELD">COVISHIELD</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="COVAXIN" name="vaccineType"
                               value="COVAXIN">
                        <label class="form-check-label" for="COVAXIN">COVAXIN</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="SPUTNIKV" name="vaccineType"
                               value="SPUTNIKV">
                        <label class="form-check-label" for="SPUTNIKV">SPUTNIKV</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="ANY" name="vaccineType"
                               value="ANY">
                        <label class="form-check-label" for="ANY">Any of these</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">Fetch Interval</label>
                        <div class="col-md-3">
                            <input name="refreshInterval" id="refreshInterval" type="number" value="4"
                                   min="1" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>

            </div>
            <button type="button" class="btn btn-primary btn-block mt-3" id="watch">Watch</button>
            <div>
                <small>Note: Please select your preference and click on "Watch" and don't close the page. It will alert
                    you by sound and flash.
                </small>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row invisible" id="result">
        <div class="col-md-8 mx-auto">
            <h3>Finding Centers
                <small><a href="#" id="cancelWatch">Cancel</a></small>
            </h3>
            <div id="centers"></div>
            <div class="flasher invisible"><a href="https://www.cowin.gov.in/home"><img class="pulseit"
                                                                                        src="https://media.giphy.com/media/eImrJKnOmuBDmqXNUj/source.gif"
                                                                                        alt="Attention Please"/></a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div id="jquery_jplayer_1"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/public/jplayer/jquery.jplayer.min.js"></script>
<script src="/public/app/watcher.js"></script>
</body>
</html>